<%- include('./partials/head.ejs') %>
<body>
  <main>
    <section>
      <h2></h2>
      <h3></h3>
      <img src="" alt="">
    </section>
    <section id="chat">
      <h1>Raad de Kunstenaar</h1>
      <ul id="messages">
      </ul>
      <p id="rightAnswer"></p>
      <p id="disconnected"></p>
      <form id="form1">
        <input id="name" type="text" placeholder="Naam" />
        <input id="message" type="text" placeholder="Schrijf hier je antwoord" />
        <button type="submit">VERSTUUR</button>
      </form>
      <form id="form2">
        <button type="submit">START SPEL EN VOLGENDE</button>
      </form>
    </section>
  </main>
</body>
</html>
