<%- include('./partials/head.ejs') %>
<body>
  <h1>Raad de Kunstenaar</h1>
  <main>
    <section id="chat">
      <img src="" alt="">
      <h2></h2>
      <ul id="messages">
      </ul>
      <form>
        <input id="name" type="text" placeholder="Naam" />
        <input id="message" type="text" placeholder="Schrijf hier je berichtje" />
        <button type="submit">Verstuur</button>
      </form>
    </section>
  </main>
</body>
</html>
